*{
    font-family:sans-serif;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url('/Design/Backrounde.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.CH {
    display: flex;
    align-items: center;      /* مهم */
    justify-content: space-between;
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    flex-wrap: wrap;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.568);
    text-align: center;
}


.Title_Head {
    align-items: center;
    padding: 0px 40px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.Imge {
    padding: 15px 10px;
    width: 26px;
}



.Nav {
    display: flex;
    gap: 30px;
    align-items: center;
    flex: 20;
    justify-content: center;
    text-align: center;
}


.O1_Head, .O2_Head, .O3_Head {
    text-decoration:none;
    color: white;
    padding: 8px 12px;
    font-weight: bold;
}

.O1_Head{
    border-bottom: 3px #ffffff solid;
}
.O1_Head:hover,
.O2_Head:hover,
.O3_Head:hover {
    border-bottom: 3px #b94f4f solid;
}
.Button {
    display: flex;
}
.O4_Head {
    align-items: center;
    background-color: #ffffff;
    color: #b94f4f;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

}

.O4_Head:hover {
    background-color: #b94f4f;
    color: #ffffff;
} 

.Imge_Body {
    width: 65dvh;
    position:absolute;
    right: 5%;
    bottom: 0.1%;
    z-index: 1;
}

.circule {
    width: 50dvh;
    height: 50dvh;
    background-color: #b94f4f;
    border-radius: 50%;
    position:absolute;
    right: 6%;
    bottom: 8%;
    z-index: 0;
    box-shadow: 10px 10px 80px rgba(255, 56, 56, 0.568);
}

.h1_Body {
    color: #ffffff;
    font-size: 50px;
    line-height: 70px;
    position:absolute;
    left: 10%;
    bottom: 50%;

}

.Bottom_body {
    position: absolute;
    display: flex;
    gap: 20px;
    top : 50%;
    left: 10%;
}

.Checking_Button {
    color : #ffffff;
    background-color: #b94f4f;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    z-index: 0;
}

.Checking_Button::after{
    content: '';
    display: block;
    background: #000;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in;
}

.Reserve_Button {
    color : #b94f4f;
    background-color: #ffffff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    z-index: 0;
}

.Reserve_Button::after{
    content: '';
    display: block;
    background: #000;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 57.5%;
    z-index: -1;
    transition: 0.3s ease-in;
}

.Checking_Button:hover::after {
    width: 51%;
    color : #ffffff;
}

.Reserve_Button:hover::after {
    width: 42.5%;
    color : #b94f4f;
}


/* _______________Part2________________ */

.Part2 {
    padding: 20px 20px;
    text-align: center;
}

.Part2 h1 {
    font-size: 36px;
    margin-bottom: 40px;
}

.Card_Gestion {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.Card1 {
    width: 280px;
    padding: 30px 20px;
    background: #111;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Card1:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

/* Icon */
.Icon_Card1 {
    font-size: 32px;
    position: relative;
    margin-bottom: 20px;
    color: #b94f4f;
}

/* Title */
.Title_Card1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Description */
.Discription_Card1 {
    font-size: 14px;
    line-height: 1.6;
    color: #ccc;
}

.Button_Card1 {
    border: none;
    border-radius: 5px;
    color: #b94f4f;
    background-color: #ffffff;
    font-weight: bold;
    padding: 10px;
    align-items: center;
}

.Button_Card1 i {
    margin: 5px 0px;
}

.Button_Card1:hover {
    color: #ffffff;
    background-color: #b94f4f;
    cursor: pointer;
}

 /* _______________Part3________________ */

.Part3 {
    display: flex;
    justify-content: space-around;
    background-color: #b94f4f;
    margin: 90px 40px;
    padding: 80px;
    color: #fff;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 10px 30px rgba(255, 166, 166, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Part3:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(255, 166, 166, 0.762);
}

.Cout1 .Title_Cout1 {
    font-size: 40px;
}

.Cout1 .Text_Cout1 {
    line-height: 30px;
    font-size: 18px;
}

.Cout1 .Button_Cout1 {
    border: none;
    border-radius: 5px;
    color: #b94f4f;
    background-color: #ffffff;
    font-weight: bold;
    padding: 10px 178px;
    align-items: center;
    margin: 10px 0px;
}

.Cout1 .Button_Cout1 i {
    margin: 5px 0px;
}

.Cout1 .Button_Cout1:hover {
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
}






















/* ___________________Media______________________ */

@media (max-width: 1068px) {
    .Imge_Body{
        display: none;
    }
    .circule{
        display: none;
    }
    .Part3 {
        gap: 30px;
        flex-direction: column;
    }
}

